@{
    ViewData["Title"] = "Plano Contas";
}

<h3> Plano de Contas</h3>
<hr>

<button type="button" class="btn btn-block btn-primary" onclick="CriarPlanoConta()">Criar Plano</button>
<hr>    

<table class="table table-bordered">
    <tr>        
        <th>Id</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>#</th>
        <th>#</th>
    </tr>

    @{
        foreach(var item in (List<PlanoContaModel>)ViewBag.Lista)
        {
            <tr>                
                <td>@item.Id</td>
                <td>@item.Descricao</td>
                <td>@item.Tipo</td>
                <td><button type="button" class="btn btn-block btn-warning" onclick="EditarPlanoConta(@item.Id.ToString())">Editar</button></td>
                <td><button type="button" class="btn btn-block btn-danger" onclick="ExcluirPlanoConta(@item.Id.ToString())">Excluir</button></td>
            </tr>
        }
    }
</table>

<script>
    function CriarPlanoConta()
     {
        window.location.href = "../PlanoConta/CriarPlanoConta";    
    }

    function EditarPlanoConta(id)
    {
        window.location.href = "../PlanoConta/CriarPlanoConta/"+id;    
    }

    function ExcluirPlanoConta(id)
    {
        window.location.href = "../PlanoConta/ExcluirPlanoConta/"+id;    
    }

</script>