@{
    ViewData["Title"] = "Transação";
}

<h3>Transações Financeiras</h3>
<hr>
<button type="button" class="btn btn-block btn-primary" onclick="CriarTransacao()">
    Registrar Transações
</button>
<hr>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Histórico</th>
        <th>Plano de Conta</th>
        <th>Tipo de Pagamento</th>
        <th>#</th>
        <th>#</th>
    </tr>

    @{
        foreach (var item in (List<TransacaoModel>)ViewBag.Lista)
        {
            if (@item.IdPagamento != 6)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Data.ToString("dd/MM/yyyy")</td>
                    <td>@item.Tipo</td>
                    <td>@item.Valor</td>
                    <td>@item.Historico</td>
                    <td>@item.IdPlanoConta</td>
                    <td>@item.IdPagamento</td>
                    <td>
                        <button type='button' class='btn btn-block btn-warning'
                    onclick="EditarTransacao(@item.Id.ToString())">Editar</button>
                    </td>
                    <td>
                        <button type='button' class='btn btn-block btn-danger'
                    onclick="DeletarTransacao(@item.Id.ToString())">Excluir</button>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Data.ToString("dd/MM/yyyy")</td>
                    <td>@item.Tipo</td>
                    <td>@item.Valor</td>
                    <td>@item.Historico</td>
                    <td>@item.IdPlanoConta</td>
                    <td></td>
                    <td>
                        <button type='button' class='btn btn-block btn-warning'
                    onclick="EditarTransacao(@item.Id.ToString())">Editar</button>
                    </td>
                    <td>
                        <button type='button' class='btn btn-block btn-danger'
                    onclick="DeletarTransacao(@item.Id.ToString())">Excluir</button>
                    </td>
                </tr>
            }
        }
    }
</table>

<script>
    function CriarTransacao() {
        window.location.href = "../Transacao/CriarTransacao";
    }

    function EditarTransacao(id) {
            window.location.href = "../Transacao/CriarTransacao/" + id;

    }

    function DeletarTransacao(id) {
        window.location.href = "../Transacao/DeletarTransacao/" + id;
    }

</script>